<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav>
      <a href="/"><img src="/logo.png" alt="todo list" /></a>
      <div class="links">
        <% if(user) { %> Welcome,&nbsp;
        <a href="/user" class="userLink"><%= user.name.firstName %></a>!
        <a href="/logout"><button class="logout">Log out</button></a>
        <% } else { %>
        <a href="/login"><button class="login link">Log in</button></a>
        <a href="/signup"><button class="link">Sign up</button></a>
        <% } %>
      </div>
    </nav>
  </body>
</html>
