<%- include('partials/header'); -%>

<section id="main">
  <div class="image">
    <img src="/todo_main.png" alt="" />
  </div>
  <div class="headings">
    <h2>Todo List</h2>
    <h3>Bring discipline to you life!</h3>
    <div class="text">
      <p>
        This is a to-do app or website if you prefer. This website requires you
        to log in to access or add your todos and manage them accordingly. This
        website uses JWt to manage authentication, nodeJS as the backend and
        MongoDB at the database.
      </p>
    </div>
    <a href="/todos" class="btn">View Your Todos</a>
  </div>
</section>

<% if(message === "ok") { %>
<div id="message" class="ok">
  Logged in as <%= user.name.firstName + " " + user.name.lastName %>!
</div>
<% } else if(message === "nolog") { %>
<div id="message">You are logged out!</div>
<% } else if(message === "new") { %>
<div id="message" class="ok">
  Greetings, <%= user.name.firstName + " " + user.name.lastName %>!
</div>
<% } else if(message === "delete") { %>
<div id="message">Account deleted!</div>
<% } %> <%- include('partials/footer'); -%>
